<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true" 
      internalLogLevel="info" 
      internalLogFile="/var/log/internal.log">
    
    <extensions>
        <add assembly="NLog.StructuredLogging.Json" />
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>
    
    <targets>
        <target name="logstash"
                xsi:type="Network"
                layout="${structuredlogging.json}"
                address="https://logs.qaybe.de" />
        
        <target xsi:type="File"
                name="allfile"
                fileName="/var/log/DataLayer-${shortdate}.log"
                maxArchiveFiles="5"
                archiveEvery="Day"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    </targets>
    
    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <logger name="*" minLevel="Info" writeTo="logstash" />
    </rules>
    
</nlog>